<section>

      <navLeft-viaje></navLeft-viaje>
      
      <div id = "content">
            <article>
                  <h4>
                        Viaje a Google México
                  </h4>
                  <hr>

                  <p>
                        Se realiza el viaje a la empresa Xideral, ubicada en Santa Fe en la CDMX.
                        Durante este viaje se realizaron varias actividades. Los grupoa 1002-A y 802
                        fueron los que tuvieron la oportunidad de conocer las instalaciones de
                        <a href="https://www.google.com.mx/?hl=es" style="text-decoration:none">Google México</a>.
                  </p>

                  <img src="../../assets/google_viaje.JPG" width="500px">
            </article>  
      </div>
</section>
