<section>

      <navLeft-servicio></navLeft-servicio>
      
      <div id = "content">
            <article>
                  <h4>Formatos a desacargar</h4>
                  <hr>
                  <p>
                        Los siguientes documentos deben entregarse a la Coordinación de
                        Estancia Profesional, Servicio Social, Viaje de Prácticas Escolares,
                        Bolsa de Trabajo y Seguimiento a Egresados. Se recomienda que lo descarguen
                        y tengan mucho cuidado en rellenarlos.
                  </p>

                  <ul>
                        <li>
                              <a href="#">
                                    Solicitud de Registro
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    Cronograma de Actividades
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    Formato de Reporte Bimestral de Servicio Social
                              </a>
                        </li>
                        <li>
                              <a  href="#">
                                    Formato de Reporte Final de Servicio Social
                              </a>
                        </li>
                        <li>
                              <a  href="#">
                                    Requisito para Foto de Servicio Social
                              </a>
                        </li>
                        <li>
                              <a href = "#">
                                    Formato de Recepción de Documentos
                              </a>
                        </li>
                  </ul>
            </article>  
      </div>
</section>
