section {
      width: 100%;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
}

article {
      margin-left: 26%;
      margin-right: 10%;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: .5%;
      height: 400px;
      overflow-y: scroll;
      border: 1px solid  #d0d3d4 ;
}


img {
      text-align-last: center;
}

h4, hr {
      color: #5E352A;
}

p, li {
      line-height: 1.7em;
}