<section>

      <navLeft-viaje></navLeft-viaje>
      
      <div id = "content">
            <article>
                  <h4>
                        Viaje a Xideral
                  </h4>
                  <hr>

                  <p>
                        Se realiza el viaje a la empresa <a href="http://xideral.co/"
                        style="text-decoration:none">Xideral</a>, ubicada en Santa Fe en la CDMX.
                        Durante esta visita los estudiantes tuvieron la oportunidad la sede de esta
                        empresa, asi mismo se realizaron varias actividades informativas sobre
                        oportunidades de trabajo.
                  </p>
                  
                  <img src="../../assets/xideral_viaje.jpg" width="500px">
            </article>  
      </div>
</section>
