<section>
      
      <navLeft-servicio></navLeft-servicio>
      
      <div id = "content">
            <article>
                  <h4>Servicio Social</h4>
                  <hr>
                  <p>
                        El servicio social es una actividad necesaria y previa a la titulación y existe
                        toda una normatividad que debe cumplirse en este proceso, para garantizar que se
                        cumplan los propósitos con los que fue creado. La Universidad Tecnológica de la Mixteca
                        vigilará que con el cumplimiento del servicio social los universitarios consoliden su
                        formación académica y se fomente en éstos una conciencia de solidaridad con la comunidad. 
                  </p>

                  <br>
                  <div id = "img1">
                        <img src="../assets/cfe.png" id = "cfe">
                  </div>
                  <div id = "img2">
                        <img src="../assets/imss.png" id = "imss">
                  </div> 
            </article>
      </div>
</section>