<section>
      <div id = "content">
            <article>
                  <h4>Dudas o aclaraciones</h4>
                  <hr>
                  <p>
                        Para cualquier duda o aclaraciones, puede pasar a la Coordinación
                        de Estancia Profesional, Servicio Social, Viaje de Prácticas
                        Escolares, Bolsa de Trabajo y Seguimiento a Egresados.
                  </p>
                  <p>
                        Responsable: L.C.E. María Luisa Barragán Ramírez.
                        <br>
                        Teléfonos: 953 53 2 02 14 / 2 03 99 extensión 113.
                        <br>
                        Correo Electrónico: <a href = "http://mixteco.utm.mx/">cvi_utm@mixteco.utm.mx</a>.
                  </p>

                  <br>
                  
                  <img src="../assets/utm_entrada.jpg" id = "umt-entrada" />

            </article>  
      </div>
</section>