<section>

      <navLeft-estancia></navLeft-estancia>
      
      <div id = "content">
            <article>
                  <h4>Formatos a desacargar</h4>
                  <hr>
                  <p>
                        Los siguientes documentos deben entregarse a la Coordinación de
                        Estancia Profesional, Servicio Social, Viaje de Prácticas Escolares,
                        Bolsa de Trabajo y Seguimiento a Egresados. Se recomienda que lo descarguen
                        y tengan mucho cuidado en rellenarlos.
                  </p>

                  <ul>
                        <li>
                              <a href="#">
                                    Currículum Vitae (Formato opcional)
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    Reporte Semanal
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    Evaluación final por periodo
                              </a>
                        </li>
                        <li>
                              <a  href="#">
                                    Cuestionario de resultados
                              </a>
                        </li>
                        <li>
                              <a  href="#">
                                    Recepción de documentos
                              </a>
                        </li>
                  </ul>
            </article>  
      </div>
</section>
