<section>

      <navLeft-estancia></navLeft-estancia>
      
      <div id = "content">
            <article>
                  
                  <h4>¿Qué son las estancias?</h4>
                  <hr>
                  <p>
                        Es la actividad académica obligatoria que deberán realizar los alumnos
                        al finalizar sexto semestre, octavo semestre y que no tengan materias
                        adeudadas que regularizar en cursos de verano.
                  </p>
                  
                  <h4>¿Dónde realizarla?</h4>
                  <hr>
                  <p>
                        Los alumnos podrán realizar de acuerdo a su Plan de Estudios
                        sus Estancias Profesionales en los diferentes sectores: público,
                        social y privado, en donde desarrollen y apliquen los conocimientos
                        dentro del área de su especialidad.
                  </p>

                  <h4>¿Cuántas horas se deben realizar?</h4>
                  <hr>
                  <ul>
                        <li>
                              El Alumno deberá cumplir como mínimo dos Estancias Profesionales.
                        </li>
                        <li>
                              Deberá acreditar mínimamente 560 horas por concepto de Estancia Profesional.
                        </li>
                        <li>
                              El número mínimo de horas por Estancia Profesional que deberá acreditar el alumno será de 280 horas.
                        </li>
                        <li>
                              Solo podrá realizar una Estancia Profesional por periodo de verano.
                        </li>
                  </ul>
                  
                  <h4>Requisitos</h4>
                  <hr>
                        <ul>
                              <li>
                                    Tramitar en el IMSS / ISSSTE el Carnet de citas (entregar una copia a la coordinación
                                    de Estancia Profesional)
                              </li>
                              <li>
                                    Tramitar su CONSTANCIA DE VIGENCIA DE DERECHOS del IMSS o ISSSTE en el área
                                    de servicios de AFILIACIÓN-VIGENCIA DE DERECHOS correspondiente. (entregar
                                    una copia a la coordinación de Estancia Profesional)
                              </li>
                        </ul>

                  <h4>Documentación</h4>
                  <hr>
                  <ol>
                        <li>
                              Acuse de oficio de presentación:
                              <ul>
                                    <li>
                                          Nombre de quien recibe
                                    </li>
                                    <li>
                                          Fecha en que recibe
                                    </li>
                                    <li>
                                          Firma
                                    </li>
                                    <li>
                                          Sello de la empresa
                                    </li>
                              </ul>
                        </li>
                        <li>
                              Solicitar un oficio de aceptación en hoja con membrete de la empresa y sello,
                              en donde la empresa expresa formalmente que los acepta para realizar Estancias
                              Profesionales, este oficio debe contener:
                              <ul>
                                    <li>
                                          Nombre
                                    </li>
                                    <li>
                                          Matrícula
                                    </li>
                                    <li>
                                          Número de IMSS o ISSSTE
                                    </li>
                                    <li>
                                          Carrera y semestre
                                    </li>
                                    <li>
                                          Periodo en el que realizaran sus Estancias Profesionales: indicando día, mes y año
                                    </li>
                              </ul>
                        </li>

                        <li>
                              Reporte Semanal de Estancia Profesional. Estos formatos deberán tener claramente establecido
                              el inicio y termino de la semana, el horario, total de horas, descripción de las funciones
                              realizadas. Para que tenga validez el formato deberá estar firmado y sellado por el Jefe
                              inmediato superior así como del alumno.
                        <li>
                              Formato de Evaluación Final de Estancias Profesionales por periodo, es una evaluación de su
                              desempeño y deberá llenarlo al final de las Estancias Profesionales, su jefe inmediato.
                        </li>
                        <li>
                              Oficio de Terminación de Estancia Profesional, en hoja con membrete de la empresa y sello,
                              con la siguiente información:
                              <ul>
                                    <li>Nombre</li>
                                    <li>Matrícula</li>
                                    <li>Número de IMSS o ISSSTE</li>
                                    <li>Carrera</li>
                                    <li>Semestre</li>
                                    <li>Periodo en el que realizo Estancia Profesional: indicando día, mes y año.</li>
                                    <li>Total de horas realizadas en el periodo de Estancias Profesionales.</li>
                              </ul>
                        </li>
                        <li>
                              Informe final
                              <ul>
                                    <li>
                                          No más de dos cuartillas
                                    </li>
                                    <li>
                                          Interlineado de espacio y medio
                                    </li>
                                    <li>
                                          Tipo de letra: Times New Roman
                                    </li>
                                    <li>
                                          Numero de letra: 12
                                    </li>
                              </ul>
                        </li>
                        <li>
                              Cuestionario de resultados, con fotografía anexa.
                        </li>
                        <li>
                              Enviar la fotografía de la empresa en donde realizó su Estancia Profesional al
                              correo electrónico: cvi_utm@mixteco.utm.mx
                        </li>
                  </ol>

                  <h3 id = "nota">
                        NOTA: No se recibirá documentación incompleta.
                  </h3>
            </article>  
      </div>
</section>
