<p>
      Sistema de Estancias Profesionales, Servicio Social y Viajes de Practicas Escolares
</p>

<div>
      <form #formLogin = "ngForm">
            <p>
                  <label>Username:</label>
                  <input type = "text" name = "username">
            </p>
            <p>
                  <label>Password:</label>
                  <input type = "text" name = "password">
            </p>
            <p>
                  <input type = "submit" value = "Entrar" name = "submit">
            </p>
      </form>
</div>

<a>¿Olvidó su contraseña? <a>Ayuda</a> </a>

<p>
      Todos los derechos reservados@<br>
      Coordinacion de Estancias Profesionales, Servicio Social, Viajes de Prácticas Escolares y Bolsa de Trabajo
      <br>Universidad Tecnológica de la Mixteca
</p>