<div id = "header">
      
      <div  id="header1">
            <img src="../assets/header_utm_logo.png" >
      </div>
      
      <div id="header2">
            <h2>
                  Sistema de Estancia Profesional, Servicio Social y Viaje de Prácticas Escolares
            </h2>
      </div>
</div>

<nav>
      <a [routerLink] = "['/home']" [routerLinkActive] = "['activado']">Home</a>
      <a [routerLink] = "['/estancia']" [routerLinkActive] = "['activado']">Estancias Profesionales</a>
      <a [routerLink] = "['/servicio']" [routerLinkActive] = "['activado']">Servicio Social</a>
      <a [routerLink] = "['/viaje']" [routerLinkActive] = "['activado']">Viajes de Estudios</a>
      <a [routerLink] = "['/contacto']" [routerLinkActive] = "['activado']">Contacto</a>
</nav>