<section>

      <navLeft-servicio></navLeft-servicio>
      
      <div id = "content">
            <article>
                  
                  <h4>Requisitos</h4>
                  <hr>
            
                  <ul>
                        <li>
                              Haber cursado el 70% de los créditos, sin adeudo de materias.
                        </li>
                        <li>
                              Disponibilidad de tiempo para cubrir las 480 horas reglamentarias en un mínimo
                              de 6 meses y como máximo en 2 años.
                        </li>
                        <li>
                              2 fotografías tamaño infantil a color o blanco y negro (para pegar en el
                              formato de registro de SS).
                        </li>
                        <li>
                              Al termino del SS entregar 4 fotografías óvalo blanco y negro de 7x5 (según indicaciones del archivo anexo).
                        </li>
                        <li>
                              Es necesario realizar el trámite de solicitud e inscripción en la Coordinación al
                              iniciar el cumplimiento del SS, ya que éste no podrá ser reconocido en forma
                              retroactiva, ni avalado por la institución.
                        </li>
                  </ul>
                  
                 
                  <h4>Procedimiento</h4>
                  <hr>
                  <ol>
                        <li>
                              <h4>
                                    Selección del programa
                              </h4>
                              <ul>
                                    <li>
                                          solicitar en la coordinación la información relacionada con los
                                          programas o solicitudes de SS por parte de la UTM y del sector
                                          público o social. Previamente registrados.
                                    </li>
                                    <li>
                                          en caso de que se haya establecido contacto con alguna institución
                                          o profesor (a) que no tenga registrada su solicitud en la coordinación,
                                          es necesario: que el (la) responsable del proyecto acuda a solicitar
                                          dicho registro, ya que de lo contrario el servicio no será reconocido.
                                    </li>
                              </ul>
                        </li>
                        <li>
                              <h4>
                                    Inscripción (Formato de Registro de SS)
                              </h4>
                        </li>

                        <p>
                              Una vez seleccionado el programa en el que se prestará el SS, el alumno deberá llenar
                              el formato de inscripción, el cual deberá entregarse por duplicado (coordinación de
                              estancias y para el alumno). El formato se descarga en la seccion Formatos.
                        </p>
                        <p>
                              Los datos solicitados en el formato deberán llenarse de la siguiente manera:
                        </p>
                        
                              Datos del alumno:
                              <ul>
                                    <li>
                                          Curp
                                    </li>
                                    <li>
                                          Porcentaje de créditos
                                    </li>
                                    <li>
                                          Promedio
                                    </li>
                                    <li>
                                          Matrícula, carrera: especificar la carrera en la que está inscrito el alumno,
                                          porcentaje de créditos: precisar el porcentaje de créditos con que cuenta el
                                          alumno al momento de iniciar el SS, semestre, edad, sexo
                                    </li>
                                    <li>
                                          Nombre del alumno: empezar con el nombre completo, apellido paterno
                                          y materno, sin abreviaturas
                                    </li>
                                    <li>
                                          Domicilio: lo más completo posible, calle, número, colonia, municipio y código postal
                                    </li>
                                    <li>
                                          Teléfono: en caso de no tener, deberá anotar el número telefónico donde se le
                                          pueda dejar recado cuando sea necesario. Correo electrónico
                                    </li>
                              </ul>

                        <p>
                              Datos del responsable del servicio social:
                        </p>
                        
                        <ul>
                              <li>
                                    Numero de oficio o solicitud.
                              </li>
                              <li>
                                    Nombre del programa: nombre completo del programa en el que va a participar el alumno.
                              </li>
                              <li>
                                    Institución y/o dependencia responsable donde se realizará el programa de SS.
                              </li>
                              <li>
                                    Área: anotar el área dentro de la dependencia en la que el alumno cumplirá el SS.
                              </li>
                              <li>
                                    Responsable del programa.
                              </li>
                              <li>
                                    Domicilio: dirección laboral del responsable del programa.
                              </li>
                              <li>
                                    Cargo: nombramiento que tiene el responsable directo dentro de la institución y/o dependencia.
                              </li>
                              <li>
                                    Teléfono: anotar el teléfono de la oficina del responsable. Correo electrónico.
                              </li>
                              <li>
                                    Fecha de inicio: se toma en cuenta a partir de que el alumno entrega sus formatos de inscripción en la coordinación con los datos completos (no es válido el SS retroactivo).
                              </li>
                              <li>
                                    Fecha de término: deberá ser seis meses mínimo o dos años máximo posteriores a la fecha de inicio.
                              </li>
                              <li>
                                    Horario: anotar el horario dentro del cual se dará cumplimiento al SS.
                              </li>
                              <li>
                                    Observaciones: indicar si existe cualquier observación al respecto.
                              </li>
                              <li>
                                    Firma del responsable del SS.
                              </li>
                              <li>
                                    Firma del alumno: el formato de inscripción deberá ser firmado por el alumno.
                              </li>
                              <li>
                                    Firma del responsable de la coordinación y supervisión de las actividades que ejecutarán los prestadores de SS.
                              </li>

                              <p>
                                    Nota: Pegar en el espacio correspondiente, en cada una de las impresiones, la fotografía tamaño
                                    infantil del alumno y entregar los dos formatos de inscripción debidamente requisitados en la
                                    coordinación para su registro.
                              </p>


                        </ul>
                        <li>
                              <h4>
                                    Terminación de SS
                              </h4>
                        </li>

                        <p>
                              Una vez concluido el SS, el alumno presentará a la coordinación, una carta expedida por el
                              responsable del programa en el que se llevó a cabo el SS, en hoja membretada, dirigida al
                              jefe del Departamento de Servicios Escolares, Universidad Tecnológica de la Mixteca, en la
                              que se haga constar que el alumno ha cumplido con las 480 horas reglamentarias de SS, en un
                              periodo de 6 meses como mínimo y un máximo de 24 meses.
                        </p>

                        <p>
                              Datos que deberá contener la carta de terminación de SS:
                        </p>
                        <ul>
                              <li>                                
                                    Nombre completo del alumno sin abreviaturas
                              </li>
                              <li>
                                    Número de matrícula
                              </li>
                              <li>
                                    Carrera y Semestre en el que se encuentre (de 8° a 10° semestre o egresado)
                              </li>
                              <li>
                                    Fechas de inicio y término (mínimo 6 meses y máximo 1 año), indicando día, mes y año.
                              </li>
                              <li>
                                    Horario en que se llevó a cabo
                              </li>
                              <li>
                                    Horas realizadas (mínimo 480 y máximo 780)
                              </li>
                              <li>
                                    Área o departamento en que realizó su SS
                              </li>
                              <li>
                                    Nombre completo del programa, así como la descripción breve de las actividades realizadas
                              </li>
                              <li>
                                    Firma y sello de la institución.
                              </li>
                              <li>
                                    Anexos.
                              </li>
                        </ul>

                        <p>
                              Formatos de control de SS:
                        </p>

                        <ul>       
                              <li>
                                    Cronograma de actividades
                              </li>
                              <li>
                                    Informe del alumno, con visto bueno del responsable del servicio social de las actividades desarrolladas durante el SS, en original, elaborado en hojas blancas tamaño carta, cuya extensión será de dos cuartillas. Incluirá los siguientes datos: carátula: en esta deberán anotarse los datos del prestador como: nombre completo, matrícula, domicilio y teléfono, carrera.
                              </li>
                        </ul>

                        <p>
                              Datos referentes al programa, es decir:
                        </p>
                        <ul>       
                              <li>
                                    Nombre del programa,
                              </li>
                              <li>
                                    Institución
                              </li>
                              <li>
                                    Objetivo del programa
                              </li>
                              <li>
                                    Metodología y estrategias de solución de la problemática encontrada.
                              </li>
                              <li>
                                    Resultados obtenidos.
                              </li>
                              <li>
                                    Conclusiones basadas en los resultados obtenidos.
                              </li>
                              <li>
                                    Firmas del alumno y del responsable del programa.
                              </li>
                        </ul>

                        <li>
                              <h4>
                                    Entrega de constancia
                              </h4>
                        </li>
                        <p>
                              El alumno pasará, en la fecha que se le indique, a recoger su constancia de
                              terminación del SS.
                        </p>

                        <p>
                              Nota: Es necesario realizar el trámite de solicitud e inscripción en la coordinación,
                              al iniciar el cumplimiento del SS, ya que éste no podrá ser reconocido en forma
                              retroactiva, ni avalado por la institución.
                        </p>
                  </ol>

                  <img src="../../assets/procedimiento_servicio.jpg" width="600px">

                  <h3 id = "nota">
                        NOTA: No se recibirá documentación incompleta.
                  </h3>
            </article>  
      </div>
</section>
