<section>

      <navLeft-estancia></navLeft-estancia>
<!--      
      <div class = "content-left">
            <nav id = "layout">
                  <a [routerLink] = "['/estancia/requisitos']" [routerLinkActive] = "['activado-submenu-estancia']">Requisitos</a>
                  <a [routerLink] = "['/estancia/empresas']" [routerLinkActive] = "['activado-submenu-estancia']">Empresas</a>
                  <a [routerLink] = "['/estancia/formatos']" [routerLinkActive] = "['activado-submenu-estancia']">Formatos</a>
            </nav>
      </div>
-->

      <div id = "content">
            <article>
                  <h4>Objetivo</h4>
                  <hr>
                        <ul>
                              <li>Fortalecer, desarrollar y consolidar la vinculación de los alumnos de
                                    licenciatura, con el sector productivo estatal, nacional e internacional.
                              </li>
                              <li>Propiciar experiencias útiles para la futura integración del alumno al
                                    ámbito laboral.
                              </li>
                              <li>Coadyuvar en la formación del alumno a través del desarrollo de
                                    habilidades y capacidades para desempeñar cualquier tarea
                                    relacionada con su perfil de egreso.
                              </li>
                              <li>Contribuir a la formación integral del alumno a través de la combinación
                                    de conocimientos teóricos y prácticos adquiridos en la universidad con
                                    actividades de la realidad laboral y profesional.
                              </li>
                        </ul>
                  <br>
                  
                  <div id = "img1">
                        <img src="../assets/empresa_xideral.jpeg" width="200px">
                  </div>
                  <div id = "img2">
                        <img src="../assets/empresa_redpoint.png" width="200px">
                  </div> 
            </article>  
      </div>
</section>
