<section>
      <div id = "content">
            <article>
                  <h4>Propósito</h4>
                  <hr>
                  <p>
                        El propósito de las Estancias Profesionales, el Servicio Social y
                        Viaje de Prácticas Escolares es ofrecer a los alumnos la oportunidad
                        de integrarse al campo laboral involucrándolos directamente con la
                        industria y/o las instituciones de investigaciones y desarrollo tanto
                        dentro del pais y en el extranjero.
                  </p>
            </article>

            <div>
                  <img src = "../assets/home_image.png" id = "img1">
            </div>  
      </div>
</section>
