/*
#header {
      width: 100%;
      color: #5E352A;
      height: 70px;
      position: relative;
}

#header1 {
      /*background: green;
      width: 5%;
      float: left;
}

#header2{
      text-align: center;
      width: 95%;
      padding-top: 3px;
 /*     background: white;
}


*/